@charset "UTF-8";
/* CSS Document */

/* GLOBAL, REGARDLESS OF VIEWPORT SIZE */



body {
	font-size:1em;
	font-weight:400;
	margin:0px;

}

li {
	list-style:none;
	padding:0px;
}

img {
}

img a {
	border:0px;
	border:none /* IE */
}

a.feed-icon {
	display:none;
}

div#header {
	 margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
	top:0;
	left:0;
	z-index:100;
	position:fixed;
	border-bottom:1px solid #999;
	background:white;
	box-shadow: 1px 1px 7px #CCCCCC;
}

div#wrap {
	width:94%;
	min-width:290px;
	max-width:1860px;
	margin:0px auto;
	
}

div#navigation {
	/* border-bottom:1px solid #999; */

}



div#content {
	/* border-top:1px solid #555;  */
	background:#fff;

	    width: 100%;
	
}

div#node-3 {
	display:none;
}

div#container, div.container {
	width:100%;
}

a#logo img {
	
	text-align:center;
}

div#block-views-project-capsules-block-1 {
width:100%;
margin:0px auto;
}

div#block-views-project-capsules-block-1 div.item-list li.views-row.views-row span.views-field.views-field-title {
	display:none;
}

div#block-views-project-capsules-block-1 div.item-list li.views-row.views-row div.views-field.views-field-field-project-screenshot {
	display:none;
}

div#block-views-project-capsules-block-1 div.item-list li.views-row.views-row-1 div.views-field.views-field-field-project-screenshot {
		display:inline-block;
}

div#cboxTitle {
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	color:white;
}


/* Nav */

div#block-superfish-1 {
	text-align:center;
	width:100%;
	padding:0px;
}

div#block-superfish-1 select#superfish-1-select {
	text-align:center;
	width:80%;
	padding:3px;
	font-size:.85em;
	line-height:120%;
	
}

div#block-superfish-1.block div.content ul#superfish-1.menu {
    text-align: center;
	
	   background-image: rgba(0,0,0,0);
    background-image: -webkit-linear-gradient(top, #f0f0f0 0%,#ffffff 50%,#bababa 100%);
    background-image: -moz-linear-gradient(top, #f0f0f0 0%,#ffffff 50%,#bababa 100%);
    background-image: -o-linear-gradient(top, #f0f0f0 0%,#ffffff 50%,#bababa 100%);
    background-image: linear-gradient(top, #f0f0f0 0%,#ffffff 50%,#bababa 100%);
	  border-radius: 12px;
	
}

div#block-superfish-1.block div.content .sf-menu li {
	float:none !important;
}

div#block-superfish-1.block div.content ul#superfish-1.menu li {
	
	position:relative;
	display:inline-block;
	margin:0px 1% 0% 1%;

}

div#block-superfish-1.block div.content ul#superfish-1.menu li a {
	
	text-transform:uppercase;
	font-weight:200;
	display:block;
     -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
	
}

div#block-superfish-1.block div.content ul#superfish-1.menu li.active-trail a {
	color:#fff;
	 background-image: rgba(0,0,0,0);
    background-image: -webkit-linear-gradient(top, #805454 0%,#cc7a7a 100%);
    background-image: -moz-linear-gradient(top, #805454 0%,#cc7a7a 100%);
    background-image: -o-linear-gradient(top, #805454 0%,#cc7a7a 100%);
    background-image: linear-gradient(top, #805454 0%,#cc7a7a 100%);
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 2px 0px 0px, inset rgba(255,255,255,0.25) -11px 4px 25px 8px;
}

div#block-block-1 { /* home page device - narrow view */
display:none;
	}
	
/* home */


/* move to queries */

@media screen and (-webkit-min-device-pixel-ratio:0) {

   div#block-superfish-1.block div.content ul#superfish-1.menu li a {
	padding:0% !important;
	width:200px !important;
    }
}

div#block-superfish-1.block div.content ul#superfish-1.menu li a:hover {
	color:black;
	 background-color: #AD310B;
     -webkit-transition: background-color 250ms linear;
     -moz-transition: background-color 250ms linear;
     -o-transition: background-color 250ms linear;
     -ms-transition: background-color 250ms linear;
     transition: background-color 250ms linear;
	display:block;
}



/* FONT STYLES */

p, ul, li{
 font-size:1em; 
 color: #333;
 font-weight:400;
 line-height:1.4em;
 
 }

 .front h1#page-title {
	 display:none;
 }
 
 h2 {
	 font-size:1.1em;
	 font-weight:700;
 }
 
a:link , a:visited {
	color:#9a0000;
	text-decoration: none;
}

a:hover,
a:focus {
	color:#5b0000;
}

a:active {
	color: #775e48;
}



/* REGIONS and REGION-SPECIFIC FONT STYLES */

	/* div content */
		
	
	

/* BLOCKS */


/*

/* mobile phone vertical and landscape   */

	@media only screen and (max-width: 480px) {
	body, div#content {
		background:#fff;
	}
	div#navigation {
	/* border-bottom:1px solid #999; */
	display:none;
}

div#block-block-2 {
background: none repeat scroll 0 0 white;
    border-top: 1px solid #AAAAAA;
    bottom: 0;
    box-shadow: -2px -2px 2px #DDDDDD;
    left: 0;
    margin: 0 auto;
    padding: 2%;
    position: fixed;
	font-size:10px;
}
	a#logo img {
	display:none;
		
	}
	h3 {
		font-size:16px;
		line-height:110%;
		margin-bottom:16px;
		background:#ddd;
		padding:1%;
	}
	
		div#block-views-project-capsules-block-1 { /* hide full layout  */
	display:none;
	}
	
		div#block-views-project-capsules-block-2 { /* hide narrow block */
	display:block;
	  text-align: center;
	  padding-top:70px;
	 
	}

div#block-block-1 { /* home page device - logo narrow view */
	background: none repeat scroll 0 0 white;
    display: block;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    text-align: center;
    width: 100%;
	}
	
	

	
	div#block-block-1 a img { /* home page device - logo narrow view */
	height: auto;
    margin: 10px 0 0;
    text-align: center;
    width: 220px;
	
	}
	
	div#block-views-project-capsules-block-2 div.item-list {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff;
   
    border-bottom:1px solid #ccc;
    float: left;
    margin: 2% 0%;
    padding: 1%;
    text-align: center;
    width: 100%; }
	

	
	div#block-views-project-capsules-block-2 div.item-list li.views-row div.views-field.views-field-field-service-icon img {
	display:inline-block;
	
 background:#888;
   
	float:left;
	
	    margin:5px 3px 8px 2px;
    width: 22px;

	height:auto;
	}
	div#block-views-project-capsules-block-2 div.item-list li.views-row-even div.views-field.views-field-field-service-icon img {
		background:#555;
	}
	
	div#block-views-project-capsules-block-2 div.item-list li.views-row.views-row span.views-field.views-field-title {
	display:none;
}

div#block-views-project-capsules-block-2 div.item-list li.views-row.views-row div.views-field.views-field-field-project-screenshot {
	display:none;
}

div#block-views-project-capsules-block-2 div.item-list li.views-row.views-row-1 div.views-field.views-field-field-project-screenshot {
		display:inline-block;
}

div#block-views-project-capsules-block-2 div.item-list li.views-row.views-row-1 div.views-field.views-field-field-project-screenshot img {
	border:1px solid white;
	border-bottom:0px;
	min-width:270px;
	height:auto;
	margin-bottom:9px;
}

html.js body.html div#wrap div.container div#content.sixteen div#main div.region div#block-views-icon-legend-block.block {
		display:none;
	}


	}
	
		

/* in-between mobile phone and 960 desktop   */

	@media only screen and  (min-width: 481px) and (max-width: 752px) {
	html.js body.html div#wrap div.container div#content.sixteen div#main div.region div#block-views-icon-legend-block.block {
		display:none;
	}

	
		div#block-views-project-capsules-block-2 { /* hide narrow block */
	display:none;
	}
	
	h3 {
	
		margin-bottom:7px;
	}

	
	a#logo img {
	width:98%;
	height:auto;
	min-width:450px;
	
		
	}
	
	div#block-views-project-capsules-block-1 div.item-list li.views-row div.views-field.views-field-field-service-icon img {
		display:inline-block;
	background:#888;
    display: inline;
    height: auto;

	float:right;
	 margin: 2px;
    width: 20px;
	}
	
	div#content {
	margin: 11% auto 1%;
}
	
	div#block-views-project-capsules-block-1 div.item-list li.views-row-even div.views-field.views-field-field-service-icon img {
		background:#555 !important;
	}
	
		div#block-views-project-capsules-block-1 div.item-list {
	 background: #f0f0f0;
    float: left;
    margin: 1% 1.25%;
    padding: 1%;
    text-align: center;
    width: 44%;
	 background-image: -webkit-linear-gradient(top, #ededed 0%,#f0f0f0 100%);
    background-image: -moz-linear-gradient(top, #ededed 0%,#f0f0f0 100%);
    background-image: -o-linear-gradient(top, #ededed 0%,#f0f0f0 100%);
    background-image: linear-gradient(top, #ededed 0%,#f0f0f0 100%);
	border:1px solid #eee;
	 border-radius: 12px;
	border-right:2px solid #ddd;
	border-bottom:2px solid #ddd;
	
	box-shadow:2px 1px 3px #ccc inset;
	
	}
	
	
	
	
			/* NAV */
	div#block-superfish-1.block div.content ul#superfish-1.menu li a {
	
	font-size:.95em;
	letter-spacing:0.25px;
	padding:0% 6%;
	line-height:155%;
}

	
	
	}
	
/* 960 layout */
	
	@media only screen and (min-width: 753px) {	
	
	div#content {
	margin: 7% auto 1%;
}

	h3 {
	
		margin-bottom:3px;
	}
		div#block-views-project-capsules-block-2 { /* hide narrow block */
	display:none;
	}
	
		/* NAV */
	div#block-superfish-1.block div.content ul#superfish-1.menu li a {
	
	font-size:1.15em;
	letter-spacing:0.5px;
	padding:0% 13%;
	line-height:160%;
}
a#logo {
	
}

	a#logo img {
	width:98%;
	height:auto;
	min-width:450px;
	max-width:660px;
	
	}
	
	div#block-views-project-capsules-block-1 div.item-list li.views-row div.views-field.views-field-field-service-icon img {
		display:inline-block;
	
	background:#888;
    display: inline;
    height: auto;

	float:right;
	 margin: 1px;
    width: 18px;
	}
	
	div#block-views-project-capsules-block-1 div.item-list li.views-row-even div.views-field.views-field-field-service-icon img {
		background:#555;
	}
	
		div#block-views-project-capsules-block-1 div.item-list {
	 background: #f0f0f0;
    float: left;
    margin: 1% 1.25%;
    padding: 1%;
    text-align: center;
    width: 20%;
	background-image: -webkit-linear-gradient(top, rgb(237,237,237) 0%,#cccccc 49%,#bbbbbb 51%,rgb(238,238,238) 100%);
    background-image: -moz-linear-gradient(top, rgb(237,237,237) 0%,#cccccc 49%,#bbbbbb 51%,rgb(238,238,238) 100%);
    background-image: -o-linear-gradient(top, rgb(237,237,237) 0%,#cccccc 49%,#bbbbbb 51%,rgb(238,238,238) 100%);
    background-image: linear-gradient(top, rgb(237,237,237) 0%,#cccccc 49%,#bbbbbb 51%,rgb(238,238,238) 100%);
	border:1px solid #eee;
	 border-radius: 12px;
	border-right:2px solid #ddd;
	border-bottom:2px solid #ddd;
	
	box-shadow:2px 1px 3px #ccc inset;
	
	}
	
	div.view.view-icon-legend {
	margin:0px auto;
}

div.view-view-icon-legend table {
	
}

div#block-views-icon-legend-block {
	padding:0px;
	margin-bottom:10px;
}

div.view-view-icon-legend table tr {
background:#FFF;
	border:0px;
}

html.js body.html div#wrap div.container div#content.sixteen div#main div.region div#block-views-icon-legend-block.block div.content div.view div.view-content table.views-view-grid {
	width:100%;
	margin:0px auto;
		border-radius:4px;
}

html.js body.html div#wrap div.container div#content.sixteen div#main div.region div#block-views-icon-legend-block.block div.content div.view div.view-content table.views-view-grid tbody tr {
background:#F0f0f0;
text-align:center;
	font-size:.75em;
		border:0px;
	
		padding:4px;
}

html.js body.html div#wrap div.container div#content.sixteen div#main div.region div#block-views-icon-legend-block.block div.content div.view div.view-content table.views-view-grid tbody tr td {
	border:0px;
	width:14.2587%;
}
	

html.js body.html div#wrap div.container div#content.sixteen div#main div.region div#block-views-icon-legend-block.block div.content div.view div.view-content table.views-view-grid tbody tr img {
width:30px !important; height:30px !important; margin-top:4px; opacity:.8;
	
}

html.js body.html div#wrap div.container div#content.sixteen div#main div.region div#block-views-icon-legend-block.block div.content div.view div.view-content table.views-view-grid tbody tr td {
	width:100px;
	padding:4px 0px;
}
	}

/* now standard layout */

	@media only screen and (min-width: 980px) {	
	
		div#block-views-project-capsules-block-2 { /* hide narrow block */
	display:none;
	}

div#content {
	margin: 6% auto 1%;
}

div.view.view-icon-legend {
	margin:0px auto;
}

div.view-view-icon-legend table {
	
}

div#block-views-icon-legend-block {
	padding:0px;
	margin-bottom:10px;
}

div.view-view-icon-legend table tr {
background:#FFF;
	border:0px;
}

html.js body.html div#wrap div.container div#content.sixteen div#main div.region div#block-views-icon-legend-block.block div.content div.view div.view-content table.views-view-grid {
	width:845px;
	margin:0px auto;
		border-radius:4px;
}

html.js body.html div#wrap div.container div#content.sixteen div#main div.region div#block-views-icon-legend-block.block div.content div.view div.view-content table.views-view-grid tbody tr {
background:#F0f0f0;
text-align:center;
	font-size:.75em;
		border:0px;
	
		padding:4px;
}

html.js body.html div#wrap div.container div#content.sixteen div#main div.region div#block-views-icon-legend-block.block div.content div.view div.view-content table.views-view-grid tbody tr td {
	border:0px;
	width:14.2587%;
}
	

html.js body.html div#wrap div.container div#content.sixteen div#main div.region div#block-views-icon-legend-block.block div.content div.view div.view-content table.views-view-grid tbody tr img {
width:30px !important; height:30px !important; margin-top:4px; opacity:.8;
	
}

html.js body.html div#wrap div.container div#content.sixteen div#main div.region div#block-views-icon-legend-block.block div.content div.view div.view-content table.views-view-grid tbody tr td {
	width:100px;
	padding:4px 0px;
}

		/* NAV */
	div#block-superfish-1.block div.content ul#superfish-1.menu li a {
	
	font-size:1.3em;
	letter-spacing:1px;
	padding:0% 17%;
	
	line-height:170%;
}

h3 {
	margin-bottom:8px;
	padding:3px 0px;
	background:#6B0000;
	color:white;
}

	a#logo img {
	width:98%;margin:0px auto;
	height:auto;
	min-width:828px;
		
	}
	
	/* *960 portfolio layout * 
	div#block-views-project-capsules-block-1 div.item-list li.views-row.views-row-2,
	div#block-views-project-capsules-block-1 div.item-list li.views-row.views-row-3,
	div#block-views-project-capsules-block-1 div.item-list li.views-row.views-row-4,
	div#block-views-project-capsules-block-1 div.item-list li.views-row.views-row-5,
	div#block-views-project-capsules-block-1 div.item-list li.views-row.views-row-6,
	div#block-views-project-capsules-block-1 div.item-list li.views-row.views-row-7,
	div#block-views-project-capsules-block-1 div.item-list li.views-row.views-row-8,
	div#block-views-project-capsules-block-1 div.item-list li.views-row.views-row-9 {
		display:none;
	}*/
	
div#block-views-project-capsules-block-1 div.item-list li.views-row.views-row span.views-field.views-field-title {
	display:none;
}

div#block-views-project-capsules-block-1 div.item-list li.views-row.views-row div.views-field.views-field-field-project-screenshot {
	display:none;
}

div#block-views-project-capsules-block-1 div.item-list li.views-row.views-row-1 div.views-field.views-field-field-project-screenshot {
		display:inline-block;
}

div#block-views-project-capsules-block-1 div.item-list li.views-row.views-row-1 div.views-field.views-field-field-project-screenshot img {
	border-bottom:3px solid white;
	border-top:1px solid #ccc;
	margin-bottom:3px;
}
	
	
	
	div#block-views-project-capsules-block-1 div.item-list li.views-row div.views-field.views-field-field-service-icon img {
		display:inline-block;
		
    display: inline;
    height: auto;

	float:right;
	 margin: 2px;
    width: 24px;
	}
	
	div#block-views-project-capsules-block-1 div.item-list li.views-row-even div.views-field.views-field-field-service-icon img {
		background:#555;
	}
	
	
	div#block-views-project-capsules-block-1 div.item-list {
	 background: #f0f0f0;
    float: left;
    margin: 1% 0.8%;
    padding: 1%;
    text-align: center;
    width: 21%;
	background-image: -webkit-linear-gradient(top, rgb(237,237,237) 0%,#cccccc 49%,#bbbbbb 51%,rgb(238,238,238) 100%);
    background-image: -moz-linear-gradient(top, rgb(237,237,237) 0%,#cccccc 49%,#bbbbbb 51%,rgb(238,238,238) 100%);
    background-image: -o-linear-gradient(top, rgb(237,237,237) 0%,#cccccc 49%,#bbbbbb 51%,rgb(238,238,238) 100%);
    background-image: linear-gradient(top, rgb(237,237,237) 0%,#cccccc 49%,#bbbbbb 51%,rgb(238,238,238) 100%);
	border:1px solid #eee;
	 border-radius: 18px;
	border-right:2px solid #ddd;
	border-bottom:2px solid #ddd;
	box-shadow:0px 2px 2px #999;
	}
	}
	
	/* wide layout */

	@media only screen and (min-width: 1400px) {	
	
	
		div#block-views-project-capsules-block-2 { /* hide narrow block */
	display:none;
	}
	
	div#content {
	margin: 5% auto 1%;
}
	
	/* NAV */
	div#block-superfish-1.block div.content ul#superfish-1.menu li a {
	
	font-size:1.35em;
	letter-spacing:1.5px;
	padding:0% 18%;
	line-height:170%;
}

	a#logo img {
	width:98%;
	height:auto;
	min-width:828px;
		
	}
	
	div#block-views-project-capsules-block-1 div.item-list {
	 background: #f0f0f0;
    float: left;
    margin: 1% 1.25%;
    padding: 1%;
    text-align: center;
    width: 20%;
	 background-image: -webkit-linear-gradient(top, #ededed 0%,#f0f0f0 100%);
    background-image: -moz-linear-gradient(top, #ededed 0%,#f0f0f0 100%);
    background-image: -o-linear-gradient(top, #ededed 0%,#f0f0f0 100%);
    background-image: linear-gradient(top, #ededed 0%,#f0f0f0 100%);
	border:1px solid #eee;
	box-shadow:2px 1px 3px #ccc inset;
	border-right:2px solid #ddd;
	border-bottom:2px solid #ddd;
	
	}
		div#block-views-project-capsules-block-1 div.item-list li.views-row div.views-field.views-field-field-service-icon img {
	
	 margin: 3px;
    width: 32px;
	}
	
	h3 {
		font-size:20px;
	}
	
	}
	
	/* super wide layout */

	@media only screen and (min-width: 1860px) {	
		body {
		background:#fff;
	}
	
	div#content {
	margin: 4% auto 1%;
}
	
	div#block-views-project-capsules-block-2 { /* hide narrow block */
	display:none;
	}
	
	/* NAV */
	div#block-superfish-1.block div.content ul#superfish-1.menu li a {
	
	font-size:1.4em;
	letter-spacing:1.5px;
	padding:0% 17%;
	line-height:170%;
	
}

div#block-views-project-capsules-block-1 div.item-list {
	 background: #f0f0f0;
    float: left;
    margin: 1% 1.25%;
    padding: 1%;
    text-align: center;
    width: 20%;
	 background-image: -webkit-linear-gradient(top, #ededed 0%,#f0f0f0 100%);
    background-image: -moz-linear-gradient(top, #ededed 0%,#f0f0f0 100%);
    background-image: -o-linear-gradient(top, #ededed 0%,#f0f0f0 100%);
    background-image: linear-gradient(top, #ededed 0%,#f0f0f0 100%);
	border:1px solid #eee;
	box-shadow:2px 1px 3px #ccc inset;
	border-right:2px solid #ddd;
	border-bottom:2px solid #ddd;
}

	a#logo img {
	width:98%;
	height:auto;
	max-width:828px;
		
	}
	
		div#block-views-project-capsules-block-1 div.item-list li.views-row div.views-field.views-field-field-service-icon img {
	
	 margin: 4px;
    width: 34px;
	}
	
	
	}